.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
}

.swiper-zoom-image {
    width: 1201px;
    height: 799px;
    border-radius: 100px;
}

.details-box {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-box {
    font-family: $fontFamilyTitle;
    font-weight: 400;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.text-box {
    font-family: $fontFamilyText;
    max-width: 658px;
    font-weight: 400px;
    font-size: 22px;
    margin-bottom: 20px;
}
