// Цвет заголовков шрифта
$titleTextColor: #292F36;
// Цвет контентного текста
$mineTextColor: #4D5053;
// Цвет шрифта
$secondColor: #CDA274;
//Цвет заливки
$fillColor: #F4F0EC;
//Шрифт размытия
$blurColor: #E7E7E7;
//Белый цвет фона и кнопок
$lightColor: #fff;
// Ширина сайта
$widthSite: 1200px;
// Семейство шрифта заголовков
$fontFamilyTitle: DM Serif Display;
// Семейство шрифта осносного текста
$fontFamilyText: 'Jost';